<form name="primeTableForm" ng-controller="PrimeTableController">
	<label>
	Number of Primes : 
	</label>
	<input type="number" min="1" max="10" ng-pattern="/^[0-9]{1,2}$/" name="numberOfPrimes" 
		ng-model="primeTable.numberOfPrimes" ng-change="numberOfPrimesChange()" />

	<div class="error" ng-show="primeTableForm.numberOfPrimes.$pattern || !primeTableForm.numberOfPrimes.$valid">
		Please enter a natural number from 1 to 10.
	</div>

	<table ng-show="primeTable.primes.length > 0" border="1">
		<tr>
			<th>&nbsp;</th>
			<th ng-repeat="primeHeader in primeTable.primes">{{ primeHeader }}</th>
		</tr>
		<tr ng-repeat="primeRow in primeTable.primes">
			<td class="row">{{ primeRow }}</td>
			<td ng-repeat="prime in primeTable.primes">{{ primeRow * prime }}</td>
		</tr>
	</table>
</form>